body {
    font-family: "Comic Sans MS", Helvetica, sans-serif;
    font-size: 15px;
}

header {
    background-color: #ffff00;
}

nav {
    background-color: #0eeee6;
}

main {
    background-color: #cdcfec;
    font-size: 20px;
}

footer {
    background-color: #aace88;
}
/*
li {
    display: inline-block;
    width: 200px;
}
*/

nav {
    display: inline-block;
    width: 80%
}

h1 {
    text-align: center;
    font-family: "Arial", sans-serif;
    color: #c90e8d;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: normal;
}

.containerf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main a {
    display: block;
}

nav img {
    width: 10%;
}

.container img {
    width: 100%;
}

p {
    line-height: 200%;
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: 0;
    padding: 10px 20px;
    background: #f19205;
    color: black;
    border-radius: 5px;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.skip-link:focus {
    left: 10px;
    outline: none;
}

nav li {
    padding: 10px;
    margin: 5px;
    width: 20%;
    list-style: none;
    color: seagreen;
    border-style: outset;
    background: lightblue;
    text-align: center;
}

img {
    border-radius: 10px;
    border-style: solid;
    padding: 25px;
    margin: 10px;
    border-color: black;
    opacity: 50%;
}

img:hover {
    border-style: groove;
    border-radius: 50px;
    border-width: 10px;
    border-color: #c90e8d;
    opacity: 100%;
}

img:nth-child(even) {
    border-style: double;
    border-width: 20px;
}

h1 {
    font-family: "Liberation Mono", monospace;
}

p {
    font-family: "Linux Biolinum G", monospace;
}